<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite_Demo">
	<parameter name="host" value="http://localhost:4200/" />

	<parameter name="pass" value="1234" />
	<parameter name="user" value="a@a.com" />
	
	<parameter name="newBase" value="True" />

	<parameter name="browser" value="EDGE" />
	<parameter name="max_wait" value="30" />
	<parameter name="isHeadless" value="true" />
	<parameter name="close_browser_after_execution" value="false" />


	<test thread-count="1" name="testSuite-test">
		<classes>
			<class name="screenshotsTests.LoginTest" />
		</classes>
	</test>
</suite> <!-- Suite -->